footer.row.hide-for-print
	.small-12.columns #[hr]
		.row
			.small-6.columns
				p #[i.fa.fa-copyright] Ben Short

			.small-6.columns
				p(class="right") Website by #[a(href="http://heybenshort.co.uk") Ben Short]

script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/foundation/js/foundation.min.js")
script(src="js/app.js")